@keyframes flash {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(168, 85, 247, 0.2); /* soft purple flash */
  }
}

.flashUpdate {
  animation: flash 1s ease-in-out;
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  animation: flash 1s ease-in-out infinite;
}
